<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hibabejelentes</title>
</head>
<body>

<form>
    <div>Bejelentő neve:</div>
    <input type="text" class="form.control" placeholder="e-mail" id="reporterName"/>
    <div style="clear: both; display: block; height: 10px"></div>
    <div>Bejelentő e-mail címe:</div>
    <input type="text" class="form.control" placeholder="e-mail" id="reporterE-mail"/>
    <div style="clear: both; display: block; height: 10px"></div>
    <div>Bejelentő telefonszáma:</div>
    <input type="text" class="form.control" placeholder="e-mail" id="reporterPhoneNumber"/>
    <div style="clear: both; display: block; height: 10px"></div>
    <div>Hibajelenség:</div>
    <input type="text" class="form.control" placeholder="e-mail" id="problemDescription"/>
    <div style="clear: both; display: block; height: 50px"></div>
</form>
</body>
</html>